{% extends('base.html.twig') %}
{% block title %} Munich Car Company - Home {% endblock %}

{% block body %}

    <h1 class="bg-blue-500 text-2xl text-center font-bold">Welcome To Munich Car Company </h1>
    <img src="{{ asset('images/bmw.jpg') }}"

{% endblock %}

